<div class="form-stack">
  {% for field in behavioral_fields %}
    <div class="slider-block" data-slider-block>
      <div class="slider-head">
        <label for="{{ field.name }}">{{ field.label }}</label>
        <span class="slider-value" data-slider-value>Not set</span>
      </div>
      <p class="hint">{{ field.hint }}</p>
      <input
        id="{{ field.name }}"
        name="{{ field.name }}"
        type="range"
        min="0"
        max="10"
        step="0.5"
        value="5"
      >
      <input type="hidden" name="{{ field.name }}_touched" value="0" data-touched>
      <div class="slider-ends">
        <span>{{ field.low }}</span>
        <span>{{ field.high }}</span>
      </div>
    </div>
  {% endfor %}
</div>
